HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/


###Picture###
src/main/resources/static/Birds/*.jpg
src/main/resources/static/Fish/*.jpg
src/main/resources/static/Flowers/*.jpg
src/main/resources/static/General wildlife/*.jpg
src/main/resources/static/Insects/*.jpg
src/main/resources/static/Moons/*.jpg
src/main/resources/static/Reptiles/*.jpg
src/main/resources/static/Scenery/*.jpg